@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Blog";
}
@model List<PostIndexViewModel>
<div class="text-right mb-2">
         <a href="/admin/post/create" class="btn btn-primary btn-sm">
             Thêm 
         </a>
</div>
<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm" >#ID
      </th>
      <th class="th-sm">Tiêu đề
      </th>
      <th class="th-sm">Mô tả
      </th>
      <th class="th-sm">Tác giả
      </th>
      <th class="th-sm text-center">Thời gian
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in  Model)
    {
    <tr onclick="blogDetail(@item.Id)" style="cursor:pointer">
      <td>@item.Id</td>
      <td>@(item.Title.Length > 100 ? item.Title.Substring(0,100) + "..." : item.Title )</td>
      <td>@(item.Description.Length > 100 ? item.Description.Substring(0,100) + "..." : item.Description )</td>
      <td>
        @item.Author
      </td>
      <td>
        @item.CreatedAt
      </td>
    </tr>
        
    }
  </tbody>
</table>
       
  
@section Css{
    <link rel="stylesheet" href="~/common/css/jquery.dataTables.min.css">
    <style>
      .show-Content{
        cursor: pointer;
      }
      .show-Content:hover{
         color:blue;
      }
    </style>
}
@section Script{
    <script src="~/common/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable( 
               {  
                 "order": [[ 0, "desc" ]],
               },
            );
            $('.dataTables_length').addClass('bs-select');
        });
      function blogDetail(id){
        window.location.href = "/admin/post/" + id;
      }
    </script>

}