@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Contact";
}
@model List<Contact>
<table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm" >#ID
      </th>
      <th class="th-sm">Họ tên
      </th>
      <th class="th-sm">Email
      </th>
      <th class="th-sm">Phone
      </th>
      <th class="th-sm">Chủ đề
      </th>
      <th class="th-sm ">Nội dung
      </th>
      <th class="th-sm text-center">Thời gian
      </th>
      <th class="th-sm text-center">Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
    <tr>
      <td >@item.Id</td>
      <td>@item.Name</td>
      <td>@item.Email</td>
      <td>@item.Phone</td>
      <td>@item.Subject</td>
      <td data-toggle="modal" data-target="#basicExampleModal-@item.Id" class="d-flex justify-content-between show-message">
        @(@item.Message.Length > 25 ? @item.Message.Substring(0, 25) + "..." : @item.Message) <i class="fa fa-eye" aria-hidden="true"></i> 
      </td>
      <td class="text-center">@item.CreatedAt</td>
      <td class="text-center">
        @(@item.Status == false ? Html.Raw("<span style='width:60px' class='badge badge-warning status-message'>Chưa xem</span>") : @Html.Raw("<span style='width:60px' class='badge badge-success status-message'>Đã xem</span>"))
      </td>
    </tr>
    }
  </tbody>
</table>
        @* Model detail message  *@

        @foreach (var item in Model)
        {
        <div class="modal fade" id="basicExampleModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                 <p>@item.Subject</p>
                 <p>
                    <span style="font-size: 14px"><span style="width:80px; display:inline-block">Họ tên: </span>@item.Name</span>
                 </p>
                 <p>
                    <span style="font-size: 14px"><span style="width:80px; display:inline-block">Email: </span>@item.Email</span>
                 </p>
                 <p>
                    <span style="font-size: 14px"><span style="width:80px; display:inline-block">Phone: </span>@item.Phone</span>
                 </p>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                @item.Message
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        }
  
@section Css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <style>
      .show-message{
        cursor: pointer;
      }
      .show-message:hover{
         color:blue;
      }
    </style>
}
@section Script{
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dtBasicExample').DataTable( 
               {  
                 "order": [[ 0, "desc" ]]
               },
            );
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
    <script>
     // change status contact while click show content 

      
     
      let showMessages  = document.querySelectorAll('.show-message');
      let statusMessage = document.querySelectorAll('.status-message');
      

        showMessages.forEach(function(item, index){

          item.addEventListener('click', function() {
          let idContact = this.dataset.target.slice(19);
        
          let url = "/admin/contact/update-status/" +  idContact;
          


          fetch(url)
                  .then(response => response.json())
                  .then(data => {
                    statusMessage[index].className = 'badge badge-success status-message'; 
                    statusMessage[index].innerText = 'Đã xem';
                  })
                  .catch(err => {
                      console.log(err);
                  })
          })
        })

    </script>
}